div{
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: blue;
}
button{
    padding: 10px;
    font-size: 20px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
}
input{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid blue;
}