#one{
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 20px;
  margin-left: 60px;
  box-shadow: 0px 0px 10px gray;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: white;
  transition: transform 0.3s;
}
#one img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  
}
button{
  margin: 10px;
  padding: 10px;
  font-size: 20px;
 background-color: rgb(2, 253, 27);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  justify-content: space-between;
  transition: all 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
button:hover{
  background-color: rgb(0, 200, 20);
  /* transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); */

  transform: translateY(2px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
#btn{
  text-align: center;
  margin: 20px;
}
h1{
  text-align: center;
  color: rgb(253, 127, 2); 
}
#p1{
  background-color: green;
  color: white;
  width: 30px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
}

#cart{
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(11, 238, 68);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
}