input{
    margin:20px;
    padding:10px;
    border-radius:10px;
    border:2px solid black;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    outline:none;
    width:300px;
}
div{
    text-align:center;
    margin-top:100px;
}
button{
    padding:10px 20px;
    font-size:20px;
    font-weight:bold;
    border-radius:10px;
    border:none;
    background-color:blue;
    color:white;
    cursor:pointer;
}